* {
	box-sizing: border-box;
}

body, textarea, input {
	background: black;
	color: #ddd;
}

.main-window section {
	display: none;
}

html, body {
	font-family: Helvetica, sans;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding: 0.4em;
	font-size: 10pt;
}

.grid {
	display: table;
	width: 100%;
}

.row {
	display: table-row;
	vertical-align: middle;
	width: 100%;
}

.col {
	display: table-cell;
	vertical-align: middle;
	width: 48%;
	overflow: hidden;
}

.col:nth-of-type(2) {
	margin-left: 2%;
}

fieldset {
	border: 1px solid gray;
	margin-bottom: 1em;
}

fieldset.small {
	padding: 0 8pt;
}

fieldset.small * {
	font-size: 10pt;
}

legend {
	padding-left: .2em;
	padding-right: .2em;
}

label {
	vertical-align: middle;
	line-height: 1.6;
	width: 100%;
	font-size: 80%;
	margin-right: 1em;
}

input[type='range'] {
	vertical-align: middle;
	line-height: 1.6
}

input[type="text"] {
	width: 2em;
	margin-right: 1em;
	border: 1px solid gray;
	margin-left: 1em;
}

textarea {
	width: 100%;
	overflow: auto;
}

#presets {
	margin: 0;
	padding: 0;
}

#presets li {
	display: block;
	margin-right: 1em;
	margin-left: 0;
}

#presets li:hover {
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.submit {
	border-top: 2px solid gray;
	padding-top: 1em;
}

#canvases {
	margin-top: 1em;
	width: 100%;
}

canvas {
	max-width: 29vw;
	float: left;
	margin: 1em;
	transform: scaleY(-1);
}

#midiPorts ul {
	list-style: none;
	display: table-cell;
}

#midiPorts li, #midiPorts li * {
	vertical-align: middle;
	display: inline-block;
}